<div
  class="container flex justify-center flex-col gap-3 w-11/12 max-w-sm mx-auto my-8 bg-white shadow-xl shadow-indigo-100 p-5 rounded-xl"
>
  <input
    ngModel
    #birthYear="ngModel"
    name="birthYear"
    (ngModelChange)="onBirthYearChange(birthYear)"
    type="number"
    placeholder="Enter your birth age"
    class="border border-gray-200 outline-0 focus:border-gray-400 py-2 px-6 rounded-3xl"
  />
  <input
    ngModel
    #teammatesModel="ngModel"
    name="teammates"
    (keyup.enter)="onTeammateAdded(teammatesModel)"
    type="text"
    placeholder="Enter your team's member name"
    class="border border-gray-200 outline-0 focus:border-gray-400 py-2 px-6 rounded-3xl"
  />
  <h5 class="text-gray-500 ml-2">You are {{ age() }} years old</h5>
  <div class="members-list">
    <h6 class="ml-2 font-semibold text-indigo-900">Members:</h6>
    <ul class="list-disc ml-7">
      <li *ngFor="let teammate of teammates()">
        {{ teammate }}
      </li>
    </ul>
  </div>
  <h5>
    The longest teammate's name is:
    <span class="font-semibold text-indigo-700">{{
      teammates() | longestName
    }}</span>
  </h5>
</div>
